.graph-image {
  width: 100%;
  max-height: 400px;
}

.graph-move {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.dashboard-graph-placeholder {
  min-height: 100px;
}

.ui-sortable-helper .graph-move {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.ui-sortable-placeholder {
  float: left;
}
