<template name="userList">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Users</h1>
        </div>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Role</th>
            </tr>
            {{#each users}}
                <tr data-user-id="{{_id}}">
                    <td>
                        {{email}}
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary user-edit-role {{#if isRole 'admin'}}active{{/if}}" data-user-role="admin">
                                Admin
                            </button>
                            <button type="button" class="btn btn-primary user-edit-role {{#if isRole 'user'}}active{{/if}}" data-user-role="user">
                                User
                            </button>
                            <button type="button" class="btn btn-primary user-edit-role {{#if isRole 'guest'}}active{{/if}}" data-user-role="guest">
                                Guest
                            </button>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</template>
