<template name="dashboardList">
    <div class="col-md-12">
        <h1>Dashboards</h1>

        {{#if isAdmin}}
            <form class="dashboard-add">
                <div class="input-group">
                    <input type="text" class="form-control" name="name"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </span>
                </div>
            </form>
        {{/if}}

        <hr>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Graphs</th>
            </tr>
            {{#each dashboards}}
                <tr>
                    <td>
                        <a href="{{pathFor 'dashboardView'}}">
                            {{name}}
                        </a>
                    </td>
                    <td>
                        {{graphCount}}
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</template>
