<template name="dashboardView">
    {{#with dashboard}}
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    {{name}}

                    <a href="{{pathFor 'dashboardViewFullScreen'}}" class="btn btn-info">
                        <i class="glyphicon glyphicon-fullscreen"></i>
                        Full Screen
                    </a>

                    {{#if isAdmin}}
                        <form class="dashboard-remove" style="display: inline;">
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                                Remove
                            </button>
                        </form>
                    {{/if}}
                </h1>
            </div>

            {{#if isAdmin}}
                <h2>Add graph</h2>

                <form class="dashboard-add-graph col-sm-8 col-md-7 col-lg-6">
                    <div class="input-group">
                        <select name="graph" class="form-control">
                            {{#each graphsToAdd}}
                                <option value="{{_id}}">
                                    {{name}}
                                </option>
                            {{/each}}
                        </select>

                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </span>
                    </div>
                </form>
                <div class="clearfix"></div>
            {{/if}}

            <h2>Graphs</h2>

            {{> dateRangeSelector}}

            {{> autoRefresh}}

            {{> blockClassSelector}}
        </div>

        <div class="graphs">
            {{#each graphs}}
                <div class="{{blockClass}} dashboard-graph">
                    {{> dashboardGraph graph}}
                </div>
            {{/each}}
        </div>
    {{/with}}
</template>

<template name="dashboardGraph">
    <div class="thumbnail graph-move" data-graph-id="{{_id}}">
        <div class="caption">
            <h4 style="margin: 0;">
                {{#if isAdmin}}
                    <button type="button" class="btn btn-danger btn-xs pull-right graph-remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                {{/if}}

                <a href="{{pathFor 'graphEdit'}}" class="graph-title">
                    {{name}}
                </a>
            </h4>
        </div>

        {{> graphImage this}}
    </div>
</template>
