<template name="dashboardView">
    {{#with dashboard}}
        <div class="col-md-12">
            <h1>
                {{name}}

                {{#if isAdmin}}
                    <form class="dashboard-remove" style="display: inline;">
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                            Remove
                        </button>
                    </form>
                {{/if}}
            </h1>

            {{#if isAdmin}}
                <h2>Add graph</h2>

                <form class="dashboard-add-graph col-sm-8 col-md-7 col-lg-6">
                    <div class="input-group">
                        <select name="graph" class="form-control">
                            {{#each graphsToAdd}}
                                <option value="{{_id}}">
                                    {{name}}
                                </option>
                            {{/each}}
                        </select>

                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </span>
                    </div>
                </form>
                <div class="clearfix"></div>
            {{/if}}

            <h2>Graphs</h2>

            {{> blockClassSelector}}
        </div>

        <div class="graphs">
            {{#each graphs}}
                <div class="{{blockClass}} dashboard-graph">
                    {{> dashboardGraph graph}}
                </div>
            {{/each}}
        </div>
    {{/with}}
</template>

<template name="dashboardGraph">
    <div class="panel panel-default" data-graph-id="{{_id}}">
        <div class="panel-heading {{#if isAdmin}}graph-move{{/if}}">
            <h3 class="panel-title">
                <a href="{{pathFor 'graphEdit'}}">
                    {{name}}
                </a>

                {{#if isAdmin}}
                    <button type="button" class="btn btn-danger btn-sm pull-right graph-remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                {{/if}}
            </h3>

            <span class="clearfix"></span>
        </div>
        <div class="panel-body">
            <a href="{{pathFor 'graphEdit'}}">
                {{> graphImage this}}
            </a>
        </div>
    </div>
</template>
